<div class="relative h-screen pt-[60px] pb-[80px] grid grid-rows-[20%_40%_25%_15%]">
  <div class="flex justify-center items-center">
    <div class="flex justify-center relative w-50 h-15 text-[40px] bg-orange-500 text-white rounded-xl">
      <p id="timerNow" class="">25:00</p>
      <p id="pomodoro" class="absolute right-1 bottom-0  text-3xl">0</p>
    </div>
  </div>
  <!-- 休憩中のコメント「動物鑑賞中...」 -->
  <div class="flex justify-center items-center">
    <p id="intervalComment" class="text-6xl text-yellow-500"></p>
  </div>
  <div class="flex justify-center items-center">
    <input type="button" id="startStopButton" class="text-[40px] bg-red-500 w-50 h-15 text-white rounded-xl cursor-pointer" value="スタート">
  </div>

  <div class="flex relative justify-center items-center">
    <%= link_to "トップ画面", "/", class: "inline-block text-center text-[40px] bg-yellow-500 w-60 text-white rounded-xl sm:absolute right-8"%>
  </div>
  <div class="absolute inset-0 pointer-events-none" id="animalSpace">

  </div>
</div>

  <%= audio_tag("howling_of_wolves.mp3", muted: true , class: "cry")%>
  <%= audio_tag("dog_cry.mp3", muted: true , class: "cry")%>
  <%= audio_tag("cat_cry.mp3", muted: true , class: "cry")%>
  <%= audio_tag("horse_cry.mp3", muted: true , class: "cry")%>

